.bg11 {
  position: absolute;
  background: url("../images/bg11.png") no-repeat;
  transition: all 1s ease;
}
.bg12 {
  position: absolute;
  background: url("../images/bg12.png") no-repeat;
  transition: all 1s ease;
}
.bg13 {
  position: absolute;
  background: url("../images/bg13.png") no-repeat;
  transition: all 1s ease;
}
.bg21 {
  position: absolute;
  background: url("../images/bg21.png") no-repeat;
  transition: all 1s ease;
}
.bg22 {
  position: absolute;
  background: url("../images/bg22.png") no-repeat;
  transition: all 1s ease;
}
.bg23 {
  position: absolute;
  background: url("../images/bg23.png") no-repeat;
  transition: all 1s ease;
}
.bg31 {
  position: absolute;
  background: url("../images/bg31.png") no-repeat;
  transition: all 1s ease;
}
.bg32 {
  position: absolute;
  background: url("../images/bg32.png") no-repeat;
  transition: all 1s ease;
}
.bg33 {
  position: absolute;
  background: url("../images/bg33.png") no-repeat;
  transition: all 1s ease;
}
.bg41 {
  position: absolute;
  background: url("../images/bg41.png") no-repeat;
  transition: all 1s ease;
}
.bg42 {
  position: absolute;
  background: url("../images/bg42.png") no-repeat;
  transition: all 1s ease;
}
.bg43 {
  position: absolute;
  background: url("../images/bg43.png") no-repeat;
  transition: all 1s ease;
}
.bg51 {
  position: absolute;
  background: url("../images/bg51.png") no-repeat;
  transition: all 1s ease;
}
.bg52 {
  position: absolute;
  background: url("../images/bg52.png") no-repeat;
  transition: all 1s ease;
}
.bg53 {
  position: absolute;
  background: url("../images/bg53.png") no-repeat;
  transition: all 1s ease;
}
.bg54 {
  position: absolute;
  background: url("../images/bg54.png") no-repeat;
  transition: all 1s ease;
}
.bg61 {
  position: absolute;
  background: url("../images/bg61.png") no-repeat;
  transition: all 1s ease;
}
.bg62 {
  position: absolute;
  background: url("../images/bg62.png") no-repeat;
  transition: all 1s ease;
}
.bg63 {
  position: absolute;
  background: url("../images/bg63.png") no-repeat;
  transition: all 1s ease;
}
.bg71 {
  position: absolute;
  background: url("../images/bg71.png") no-repeat;
  transition: all 1s ease;
}
.bg72 {
  position: absolute;
  background: url("../images/bg72.png") no-repeat;
  transition: all 1s ease;
}
.bg81 {
  position: absolute;
  background: url("../images/bg81.png") no-repeat;
  transition: all 1s ease;
}
.bg82 {
  position: absolute;
  background: url("../images/bg82.png") no-repeat;
  transition: all 1s ease;
}
.bg83 {
  position: absolute;
  background: url("../images/bg83.png") no-repeat;
  transition: all 1s ease;
}
.bg84 {
  position: absolute;
  background: url("../images/bg84.png") no-repeat;
  transition: all 1s ease;
}
.bg91 {
  position: absolute;
  background: url("../images/bg91.png") no-repeat;
  transition: all 1s ease;
}
.bg92 {
  position: absolute;
  background: url("../images/bg92.png") no-repeat;
  transition: all 1s ease;
}
.bg93 {
  position: absolute;
  background: url("../images/bg93.png") no-repeat;
  transition: all 1s ease;
}
.bg101 {
  position: absolute;
  background: url("../images/bg101.png") no-repeat;
  transition: all 1s ease;
}
.bg102 {
  position: absolute;
  background: url("../images/bg102.png") no-repeat;
  transition: all 1s ease;
}
.bg103 {
  position: absolute;
  background: url("../images/bg103.png") no-repeat;
  transition: all 1s ease;
}
/*字体图片*/
.section2 .h3 {
  background: url("../images/t2.png");
}
.section3 .h3 {
  background: url("../images/t3.png");
}
.section4 .h3 {
  background: url("../images/t4.png");
}
.section5 .h3 {
  background: url("../images/t5.png");
}
.section6 .h3 {
  background: url("../images/t6.png");
}
.section7 .h3 {
  background: url("../images/t7.png");
}
.section8 .h3 {
  background: url("../images/t8.png");
}
.section9 .h3 {
  background: url("../images/t9.png");
}
