body {
    font: 16px/1.8 "Microsoft Yahei",verdana;
}
*{
    margin:0;padding:0;
}
/*导航*/
#fp-nav ul li .fp-tooltip {
    color: #8F9DA4;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #8F9DA4;
}

.section .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

/*公共*/
.bg img {
    display: block;
    width: 100%;
    height: 100%;
}

.section .h3 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s ease;
}

.active strong, .active .h3 {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

strong{
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 24px;
    font-weight: 500;
    color: #748A9E;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s ease;
}

.section6 .h3 ,.section7 .h3,.section8 .h3,.section7 strong,.section6 strong,.section8 strong{
    width: 561px;
    margin-left: -280px;
}
.section9 strong ,.section9 .h3{
    width: 609px;
    margin-left: -304px;
}
/*第一屏*/

.bg11 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 850px;
    background: url(../images/bg11.png) no-repeat 50% 0;
}

.bg12 {
    position: absolute;
    bottom: -392px;
    width: 100%;
    height: 392px;
    background: url(../images/bg12.png) no-repeat 50% 0;
    opacity: 0;
    transition: all 1s ease;
}

.bg13 {
    position: absolute;
    bottom: -377px;
    width: 100%;
    height: 377px;
    background: url(../images/bg13.png) no-repeat 50% 0;
    opacity: 0;
    transition: all 1s ease;
}

.mail {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -187px;
    background: url("../images/logo.png") no-repeat;
    width: 375px;
    height: 26px;
    text-indent: -9999px;
    transition: all 1s ease;
}

.mail > a {
    height: 26px;
}

.mail-163 {
    float: left;
    width: 107px;
}

.mail-126 {
    float: left;
    width: 108px;
    margin-left: 23px;
}

.mail-yeah {
    float: right;
    width: 115px;
}

.middle {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -272px;
    width: 554px;
    height: 176px;
    background: url("../images/slogan.png") no-repeat 0 0;
    transform: scale(.3);
    opacity: 0;
    transition: all 1s ease;

}

.p11 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    margin: 0 0 0 -250px;
    line-height: 25px;
    font-size: 14px;
    color: #94a7c6;
    opacity: 0;
    transition: all 1s ease;
}

.active .mail {
    top: 26px;
    transition-delay: 0.5s

}

.active .p11 {
    opacity: 1;
    transition-delay: 2s
}

.active .middle {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s

}

.active .bg12 {
    bottom: 10%;
    opacity: 1;
    transition-delay: 0.5s

}

.active .bg13 {
    bottom: 0;
    opacity: 1;
    transition-delay: 0.5s
}

/*第二屏*/

.bg21 {
    width: 819px;
    height: 250px;
    background-position:0% 0;
    bottom: 10%;left:50%;
    margin-left: -1108px;
    margin-bottom: 40px;
    opacity:0;

}
.bg22 {
    background-position:right 0;
    bottom: 10%;left:50%;
    width: 819px;
    height: 299px;
    margin-left: 320px;
    margin-bottom: 70px;
    opacity:0;

}
.bg23 {
    width: 819px;
    height: 325px;
    background-position:0 0;
    bottom: -45%;;left:50%;
    margin-left:-409px;
    opacity:0;
}
.p1{
    position:absolute;
    top:15%;
    left:50%;
    width: 510px;
    margin-left: -255px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    opacity: 0;
    transition: all 1.2s ease;
}
.active .p1{
    opacity: 1;
    transition-delay:1.5s;
}
.active .bg21{
    opacity:1;
    transition-delay:.5s;
    margin-left:-608px;
}
.active .bg22{
    opacity:1;
    transition-delay:.5s;
    margin-left:-280px;

}
.active .bg23{
    opacity:1;
    transition-delay:.5s;
    bottom: 10%;
}
/*第三屏*/

.bg31{
    left: 50%;
    bottom: 0;
    width: 892px;
    height: 472px;
    margin-left: -396px;
    margin-bottom: 80px;
    opacity: 0;
}
.bg32{
    left: 50%;
    bottom: 0;
    width: 892px;
    height: 472px;
    margin-left: -396px;
    opacity: 0;
    background-position:470px bottom ;
}
.bg33{
    left: 50%;
    bottom: 0;
    width: 441px;
    height: 380px;
    margin-left: 50%;
    opacity: 0;
}
.p2{
    position: absolute;
    top:15%;
    margin-top: 250px;
    left:50%;
    margin-left:-100%;
    width: 430px;
    font-size: 16px;
    color: #FFFDE1;
    transition: all 1s ease;
    opacity: 0;
}
.active .p2{
    transition-delay:.5s;
    opacity:1;
    margin-left: -480px;
}
.active .bg31{
    transition-delay:.5s;
    opacity:1;
}
.active .bg32{
    transition-delay:.5s;
    opacity:1;
}
.active .bg33{
    transition-delay:.5s;
    opacity:1;
    margin-left: -120px;
}


/*第四屏*/

.bg41{
    bottom: -372px;
    width: 100%;
    height: 372px;
    background-position:50% 0;
}
.bg42{
    bottom: -449px;
    width: 100%;
    height: 449px;
    background-position:50% 0;
}
.bg43{
    bottom: -449px;
    width: 100%;
    height: 449px;
    margin-bottom: -130px;
    background-position:50% 0;
}
.active .bg41{
    bottom:10%;
    transition-delay:.5s;
}
.active .bg42{
    bottom:10%;
    transition-delay:1s;
}
.active .bg43{
    bottom:10%;
    transition-delay:.7s;
}

/*第五屏*/
.bg51,.bg52,.bg53,.bg54{
    z-index: 1;
    width: 208px;
    left: 50%;
    bottom: 15%;
    padding-top: 210px;
    color: #fff;
    opacity: 0;
    background-position: 50% 0;
}
.bg51{    margin-left: -851px;}
.bg52{    margin-left: -403px;}
.bg53{    margin-left: 195px;}
.bg54{    margin-left: 645px;}

.active .bg51,.active .bg52,.active .bg53,.active .bg54{
    opacity: 1;
    transition-delay: 0.5s;
}
.active .bg51{margin-left: -551px;}
.active .bg52{margin-left: -253px;}
.active .bg53{margin-left: 45px;}
.active .bg54{margin-left: 345px;}

.section5 h4 {
    margin-bottom: 12px;
    font-size: 23px;
    font-weight: 500;
}
.section5 p {font-size: 14px;}


/*第六屏*/


.bg61{
    width: 100%;
    height: 545px;
    top: -454px;
    background-position:50% 0;
    opacity: 0;
}
.bg62{
    width: 597px;
    height: 284px;
    bottom: 20%;left: 10%;
    margin-left: -37%;
    opacity: 0;
}
.page-6{
    width: 447px;
    position:absolute;
    bottom: 20%;right: 10%;
    margin-right:-40%;
    transition: all 1s ease;
    opacity: 0;
}
.page-6 p{
    margin-bottom: 17px;
    color: #5C7970;
}
.active .bg61{opacity: 1;top:0;transition-delay:.5s; }
.active .bg62{opacity: 1;left:50%;transition-delay:.5s }
.active .page-6{opacity: 1;right:50%;transition-delay:.5s}


/*第七屏*/
.bg71{
    width: 699px;
    height: 201px;
    bottom: 0%;
    left: 5%;
    opacity:0;

}
.bg72{
    width: 182px;
    height: 206px;
    bottom: 0%;
    left: 40%;
    opacity:0;

}
.bg73{
    width: 651px;
    height: 231px;
    bottom: 9%;
    left: 10%;
}
.bg74{
    width: 100%;
    height: 251px;
    bottom: -10%;
    background-position: 0 bottom;
}
.page-7{
    position: absolute;
    width: 420px;right:10%;
    transition: all 1s ease;
    bottom: 0%;
    opacity:0;
}
.page-7 p {
    margin-bottom: 17px;
    color: #EAEFF2;
}
.active .bg71{opacity:1;bottom:30%;transition-delay:.5s;}
.active .bg72{opacity:1;bottom:35%;transition-delay:.6s;}
.active .page-7{opacity:1;bottom:44%;transition-delay:.7s;}

/*第八屏*/
.section .p1{
    width: 565px;
    margin-left: -282px;
}

.bg81{
    width: 100%;
    bottom: 100px;
    height: 215px;
    background-position: 50% 0;
}
.bg82{
    width: 164px;
    height: 117px;
    left:50%;bottom:10%;
    margin-left:-180px;
    opacity:0;

}
.bg83{
    width: 70px;
    height: 29px;
    left:50%;bottom:26%;
    margin-left:-330px;
    opacity:0;

}
.bg84{
    width: 43px;
    height: 26px;
    left:50%;bottom:31%;
    margin-left:-410px;
    opacity:0;
}

.active .bg82{opacity:1;bottom:35%;margin-left:-280px;transition-delay:.5s}
.active .bg83{opacity:1;bottom:51%;margin-left:-430px;transition-delay:.7s}
.active .bg84{opacity:1;bottom:56%;margin-left:-510px;transition-delay:.9s}


/*第九屏*/

.bg91{
    left: 50%;
    width: 340px;
    margin-left: -970px;
}
.bg92{
    left: 50%;
    width: 340px;
    margin-left: -180px;
}
.bg93{
    left: 50%;
    width: 340px;
    margin-left: 630px;
    background-position: 50% 0;
}
.bg91, .bg92, .bg93 {
    padding-top: 350px;
    font-size: 16px;
    color: #fff;
    background-position: 50% 0;
    opacity: 0;
    bottom:10%;


}
.bg91 p {
    position: relative;
    left: 20px;
    margin-left: 40px;
    border-right: 1px solid #13AB86;
}
.bg92 p {
    position: relative;
    left: 40px;
    margin-left: 30px;
}
.bg93 p {
    position: relative;
    left: -20px;
    padding-left: 100px;
    border-left: 1px solid #13AB86;
}
.section9 .h3 span {
    position: absolute;
    left: -100px;
    top: -48px;
    width: 89px;
    height: 90px;
    background-image: url(../images/yixin.png);
}

.active .bg91{opacity:1;margin-left:-570px;transition-delay:.6s}
.active .bg92{opacity:1;transition-delay:.8s}
.active .bg93{opacity:1;margin-left:230px;transition-delay:.6s}

/*第十屏*/
.bg101{
    width: 100%;
    height: 100%;
    background-position:50% 20%;
}
.bg102{
    width: 100%;
    top: 25%;
    height: 79px;
    background-position:50% 0;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s ease;
}
.bg103{
    width: 100%;
    top: 25%;
    height: 37px;
    margin-top: 110px;
    background-position:50% 0;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s ease;
}
.go{
    position: absolute;
    left: 50%;
    top: 55%;
    width: 254px;
    height: 70px;
    margin-top: 220px;
    margin-left: -127px;
    text-indent: -9999px;
    background-image: url(../images/btn.png);
    opacity: 0;
    transition: all 1s ease;
}
.active .bg102{opacity: 1;transition-delay:.5s;-webkit-transform: scale(1, 1);transform: scale(1, 1);}

.active .bg103{opacity: 1;transition-delay:.5s;-webkit-transform: scale(1, 1);transform: scale(1, 1);}

.active .go{opacity: 1;transition-delay:.8s;top: 25%;}
